header{
    height: auto;
    border-bottom: 1px solid grey ;
    margin-bottom: 15px;
h3{
    font-size: 2rem;
    
}
}

body{
    height: auto;
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: center;
}
li{
    list-style: none;
}